<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>Page Title</title>
</head>
<body>
    <!-- run.py에서 넣어준 변수를 서버에서 받아와 표시-->
    <img src="{{url_for('static', filename=filenames)}}">
    <h1>{{search}} 검색 결과 입니다.</h1>
    <button onclick="location.href='http://localhost:2500/'">戻る</button>
    
    <!-- <h2>검색 종목 코드는 {{Code}} 입니다.</h2>
    <h2>검색 종목의 현재가격은 {{Nowval}} 입니다.</h2>
    <h2>검색 종목의 거래량은 {{Qunt}} 입니다.</h2>
    <h2>검색 종목은 전일대비 {{Upper}} {{Differ}} 입니다.</h2> -->
    
</body>
</html>